pre {
  border: 1px solid darken($color-menu-border, 20);
  border-radius: 3px;
  background-color: $color-menu-border;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 10px;
}